/.hg/
.DS_Store
node_modules/
dist/
.cache/
**/out/*
/out/
# Editor directories and files
.idea/
*.iml
*.ipr
*.iws
*.log*
*.suo
*.ntvs*
*.njsproj
*.sln
.yarnclean
*=
# Nuxt build
.nuxt
*-*/firebase.js
!*-*/firebase.js.default
*-*/firebase.config.js
!*-*/firebase.config.js.default
.karma-parcel/
cypress-testing/cypress/videos/
cypress-testing/cypress/screenshots/
